p {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {  
  font-family: Arial, Helvetica, sans-serif;
  padding:10px;
  margin:10px;
  display: flex;
  flex-direction: column;
}

mat-radio-group { 
  display: flex;
  flex-direction: column
}

.likert { 
  flex-direction: row
}