
<div class="flex-container">
  <p>This is an example of a multiple select question.</p>
  <mat-checkbox value="answer_1">Checkbox 1</mat-checkbox>
  <mat-checkbox value="answer_2">Checkbox 2</mat-checkbox>
  <mat-checkbox value="answer_">Checkbox 3</mat-checkbox>
</div>

<div class="flex-container">
  <p>This is an example of a multiple choice question.</p>
  <mat-radio-group>
    <mat-radio-button value="answer_1">Checkbox 1</mat-radio-button>
    <mat-radio-button value="answer_2">Checkbox 2</mat-radio-button>
    <mat-radio-button value="answer_">Checkbox 3</mat-radio-button>
  </mat-radio-group>
</div>

<div class="flex-container">
  <p>This is an example of a true-false question.</p>
  <mat-radio-group>
    <mat-radio-button value="true">True </mat-radio-button>
    <mat-radio-button value="false">False</mat-radio-button>
  </mat-radio-group>
</div>

<div class="flex-container">
  <p>This is an example of a likert question.</p>
  <mat-radio-group class="likert">
    <mat-radio-button value="0"></mat-radio-button>
    <mat-radio-button value="1"></mat-radio-button>
    <mat-radio-button value="2"></mat-radio-button>
    <mat-radio-button value="3"></mat-radio-button>
    <mat-radio-button value="4"></mat-radio-button>
    <mat-radio-button value="5"></mat-radio-button>
    <mat-radio-button value="6"></mat-radio-button>
    <mat-radio-button value="7"></mat-radio-button>
    <mat-radio-button value="8"></mat-radio-button>
    <mat-radio-button value="9"></mat-radio-button>
    <mat-radio-button value="10"></mat-radio-button>
  </mat-radio-group>
</div>

<div class="button-bar"> 
  <button mat-flat-button color="primary">Submit Answer Responses</button>
</div>