
<div class="flex-container">
  <p>This is an example of a multiple select question.</p>
  <mat-checkbox value="answer_1">Checkbox 1</mat-checkbox>
  <mat-checkbox value="answer_2">Checkbox 2</mat-checkbox>
  <mat-checkbox value="answer_">Checkbox 3</mat-checkbox>
</div>

<div class="flex-container">
  <p>This is an example of a multiple choice question.</p>
  <mat-radio-button value="answer_1">Checkbox 1</mat-checkbox>
  <mat-radio-button value="answer_2">Checkbox 2</mat-checkbox>
  <mat-radio-button value="answer_">Checkbox 3</mat-checkbox>
</div>